#contents{
  overflow: hidden;
}

body{
  background-color: rgb(123, 123, 123);
  color: #ccc;
  background-color: rgb(123, 123, 123);
  color: #ccc;
}

header{
  position: fixed;
  width: 100%;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  z-index: 100;
  top: 0;
}

#wave{
  width:60px;
  height: 60px;
  background-image: url(../images/wave.png);
  background-size: 60px auto;
  background-position: center center;
  background-repeat: repeat-x;
  margin-left: auto;
}

img{
  max-width: 100%;
  display: block;
}

#contents{
  max-width: 1000px;
  margin: 0 auto;
}

.grid-item {
  max-width: 100%;
  width: 200px;
  padding: 2px;
}
.grid-item--width2 {
  width: 400px;
}

.grid-item--width3 {
  width: 600px;
}

#line{
  position: bottom;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background: linear-gradient(to right, blue,red);
}



