#contents{
  overflow: hidden;
}

body{
  background-image: url(../images/spaceback.png);
  background-size: cover;
  background-position: center 100px;
  top: 0;
  top:90%;
  transition: 2s all;
  background-color: rgb(123, 123, 123);
  color: #ccc;
}

header{
  background-color: rgb(255, 255, 255);
  padding: 10px;
  color: rgb(0, 0, 0);
}

img{
  max-width: 100%;
  display: block;
}

#contents{
  max-width: 1000px;
  margin: 0 auto;
}

.grid-item {
  max-width: 100%;
  width: 200px;
  padding: 2px;
}
.grid-item--width2 {
  width: 400px;
}

.grid-item--width3 {
  width: 600px;
}

#body.anime{
  top: 0%;
}